<!--
    Are you curious? Why don't you visit us on https://github.com/TF2Stadium?
    You can see all of our code there, and even contribute!

    Have a slice of pizza in the meantime

                        ___
                        |  ~~--.
                        |%=@%%/
                        |o%%%/
                     __ |%%o/
               _,--~~ | |(_/ ._
            ,/'  m%%%%| |o/ /  `\.
           /' m%%o(_)%| |/ /o%%m `\
         /' %%@=%o%%%o|   /(_)o%%% `\
        /  %o%%%%%=@%%|  /%%o%%@=%%  \
       |  (_)%(_)%%o%%| /%%%=@(_)%%%  |
       | %%o%%%%o%%%(_|/%o%%o%%%%o%%% |
       | %%o%(_)%%%%%o%(_)%%%o%%o%o%% |
       |  (_)%%=@%(_)%o%o%%(_)%o(_)%  |
        \ ~%%o%%%%%o%o%=@%%o%%@%%o%~ /
         \. ~o%%(_)%%%o%(_)%%(_)o~ ,/
           \_ ~o%=@%(_)%o%%(_)%~ _/
             `\_~~o%%%o%%%%%~~_/'
                `--..____,,--'
-->
<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TF2Stadium - blog</title>
    
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <script src="/assets/js/site.js"></script>
    
    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">    
    {{{navigation}}}
    <main class="container">
      {{{body}}}
    {{#if pagination.prev}}
      {{pagination}}
      {{else}} {{#if pagination.next}}
        {{pagination}}
      {{/if}}
    {{/if}}
    </main>
  </body>  
</html>